---
import fetchApi from '../../lib/strapi';
import type Chart from '../../interfaces/charts';

let charts = await fetchApi<Chart[]>({
  endpoint: 'charts?populate=[genres][fields][1]=genero&populate[imgalbum][fields][1]=url&populate[artist][fields][1]=name',
  wrappedByKey: 'data',
});

const STRAPI_URL = import.meta.env.STRAPI_URL;
---

<div class="text-white font-medium text-base sm:text-2xl mt-4">
  {
    charts.map(chart => 
        <a href={`${chart.attributes.slug}`} class=" flex items-center py-1">
          <span class=" p-4 w-4">{chart.id}</span>
            <img src={`${STRAPI_URL}${chart.attributes.imgalbum.data.attributes.url}`} alt={chart.attributes.title} class=" size-14 ml-8 mr-4">
            <span class=" w-1/2">{chart.attributes.title}</span>
            <span class=" text-right">{chart.attributes.artist.data.attributes.name}</span>
        </a>
        <hr class=" border-stone-500">
    )
  }
</div>